/**********************************/
/* 0. Variáveis
/* 1. Estilos Gerais
/* 2. Navbar
/* 3. Hero
/* 4. Sobre Nós
/* 5. Diferenciais
/* 6. Pacotes
/* 7. Newsletter
/* 8. Galeria
/* 9. Footer
/* 10. Modal
/**********************************/

/**********************************/
/* 0. Variáveis
/**********************************/

:root {
	--ff-primary: "Cairo", sans-serif;
	
	--clr-background: 	#F5F5F5;
	--clr-white: 		#F1FCDE;
	--clr-black: 		#090E01;
	--clr-light-green: 	#DEF8AF;
	--clr-medium-green: #88CC11;
	--clr-dark-green: 	#456809;
	
	--spacing: 0.23rem;
	--transition: all 0.3s linear;
	--dark-shadow: 0 .6rem 1.5rem rgba(0, 0, 0, 0.2);
}


/**********************************/
/* 1. Estilos Gerais

1rem = 16px(padrao do html)

/**********************************/
html{
    font-size: 62,5%; 
}

body{
    display: block;
    font-family: var(--ff-primary);
    background: var(--clr-background);
}

a{
    text-decoration: none;
}

p{
    font-size: 1.0rem;
    line-height:1.8;
}

h3{
    font-size: 1.8rem;
    line-height:1.8;
    font-weight: 900;
}

section{
    padding: 0.8rem;

}

.section__titulo{
    font-size: 2.0rem;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: .5rem;
    padding-bottom: 1.6rem;
    text-align: center;  
}

@media screen and (min-width: 1170px) {
    .section{
        padding: 1.6rem calc((100% -117rem -1.6rem) / 2);
    }
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}
/**********************************/
/* 2. Navbar
/**********************************/

.navbar{
    position:fixed;
    background: #a2a1bd; 
    width: 100%;
    padding: 1.0rem;
    box-shadow: var(--dark-shadow);
    z-index: 3;
    margin-top: -10px;
    
}

.navbar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.navbar-header_logo{
    width: 50%;
    margin-left: -22px;
    object-fit: cover;
    margin-top: -15px;
    
}

.navbar-header__toggle{
    background: transparent;
    border: transparent;
    font-size: 3.2rem;
    color: var(--clr-medium-green);
    cursor: pointer;
    transition: var(--transition);
    margin-right: 40px;
}

.navbar-header__toggle:hover{
    transform: scale(1.2);
}

.navbar-list__link{
    display: block;
    font-size: 1.6rem;
    font-weight: 900;
    padding: 1.6rem;
    text-transform: capitalize;
    color: var(--clr-black);
    transition: var(--transition);
}

.navbar-list__link:hover{
    background-color: var(--clr-medium-green);
    padding-left: 3.6rem;

}

.navbar-list{
    height: 0;
    overflow: hidden;
    transition: var(--transition);
}

.navbar-list--show-link{
    height: 20rem;
}

.navbar-icons{
    display: none;
    margin-right: 100px;
    padding: 10px;
}


@media screen and (min-width: 924px) {
    .navbar-header{
        display: inline;
        width: 280px;
    }
    .navbar-header img{
        width: 100%;
        margin-left: -22px;
        object-fit: cover;
    }

    .navbar-header__toggle{
        display: none;
    }

    .navbar-list{
        height: auto;
        display: flex;
    }

    .navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .2rem 1.4rem;
        height: 150px;
    }

    .navbar-header__toggle:hover{
        background: none;
        padding-left: 1.6rem;
        color: var(--clr-medium-green);
    }

    .navbar-icons{
        display: flex;
        padding-right: 10px;
    }

    .navbar-icons_icon{
        margin-right: 1.2rem;
        color: var(--clr-black);
        font-size: 1.2rem;
        font-weight: 900;
        transition: var(--transition);
    }

    .navbar-icons_icon:hover{
        color: var(--clr-medium-green);
    }
}

/**********************************/
/* 3. Hero
/**********************************/
.hero{
    position: relative;
    min-height: 100vh; 
    
}

.hero__video{
    position: absolute;
    width: 100%;
    height: 50.25%;
    object-fit: contain;
    
}

.hero-texto{
    margin-top: -380px;
    min-width: 17rem;
    padding: 1.0rem;

}

.hero-texto__titulo{
    font-size: 1.4rem;
    font-weight:900;
    color: rgb(4, 0, 255);
    text-transform:uppercase;

}

.hero-texto__titulo--linha-2{
    font-size: 1.0rem;
    font-weight:900;
    color: rgb(255, 0, 0);
    text-transform:uppercase;
}

.hero-texto__descrição{
    font-size: 1.0rem;
    font-weight: 400;
    color: rgb(0, 0, 0);
    max-width: 57rem;
    margin: 1rem 0;
}

.hero-texto_cta{

    display: block;
    font-size: 1.6rem;
    font-weight: 600;
    color:var(--clr-white);
    width: 14rem;
    text-align: center;
    background: var(--clr-medium-green);
    padding: 1.0rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    transition: var(--transition);
}

.hero-texto_cta:hover{
    letter-spacing: .6rem;
}


@media screen and (min-width: 768px){
    .hero__video{
       margin-top: 100px;
       width: 100%;
}

.hero-texto{
    margin-top: -270px;
}

.hero-texto_cta{
    margin-left: 230px;
}

}

@media screen and (min-width:1024px) {
    .hero-texto_cta {
        width: 20rem;
        font-size: 2.2rem;
        
    }

    .hero__video{
        margin-top: 90px;
        width: 100%;
        
    } 
    .hero-texto__titulo{
    font-size: 4.2rem;
    margin-top: -50px;
}

    .hero-texto__titulo--linha-2{
        font-size: 2.0rem;
    }
 
}
/**********************************/
/* 4. Sobre Nós
/**********************************/

.section__titulo{
    font-size: 3.2rem;
    
}

.sobre-texto__titulo{
    font-size: 1.6rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .8rem;
    display: block;
}

.sobre-c__img{
    height: min(360px);
    margin-left: 50px;

}
@media screen and (min-width:768px) {
    .sobre-c{
        display: flex;
        flex-wrap: wrap;
        
    }

    .sobre-texto{
        flex: 6 1 1rem;
        margin-left: 1.5rem;
    }
}


/**********************************/
/* 6. Pacotes 
/**********************************/

.empreendimentos{
    display: flex;
    position: relative;
    overflow-x: auto;
}

.section__titulo{
    font-size: 1.8rem;
}

.empreendimentos::after{
    content: "➔";
    position: relative;
    font-size: 3.6rem;
    font-weight: 900;
    color: red;
    top: .5rem;
    right: 65rem;
    animation:arrow .5s ease-in 0s infinite alternate
    
}


@keyframes arrow {
    from{
        right: 65rem
    }

    to{
        right: 66.5rem
    }
    
}


.empreendimento{
    flex-shrink: 0;
    background: var(--clr-light-green);
    max-width: 280px;
    cursor: pointer;
    box-shadow: var(--dark-shadow);
}

.empreendimento + .empreendimento{
    margin-left: 3rem;
}

.empreendimento__info{
    padding: 1.0rem;

}

.info-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info-header__titulo{
    font-size: 1.8rem;
    font-weight: 1000;
}

.info-body{
    margin: 1.6rem 0;
}

.info-footer{
    display: flex;
    font-size: 1.6rem;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width: 768px) {
        .empreendimentos {
            flex-wrap: wrap; 
            justify-content: space-around;
            overflow: visible;
            padding-bottom: 3.2rem;
        }

        .empreendimento:hover{
            transform: scale(1.06);
        }

        .empreendimentos::after{
            content: "";
        }

        .empreendimento + .empreendimento{
            margin: 0;
        }

        .empreendimento:nth-child(n+3){
            margin-top: 3rem;
            margin-left: 2rem;
        }
}

@media screen and (min-width: 1024px) {
    
    .empreendimento:nth-child(n+3){
        margin-top: 0;
    }

    .empreendimento:nth-child(n+4){
        margin-top: 3rem;
    }
  
}

@media screen and (min-width: 1440px){
    .empreendimento + .empreendimento{
        margin: 0;
    }
}


/**********************************/
/* 7. Newsletter
/**********************************/
.newsletter-c{
    padding: 3rem 0;
}

.newsletter-info_titulo{
    font-size: 1.8rem;
    font-weight: 900;
}

.newsletter-info_descrição{
    font-weight: 300;
    font-size: 1.2rem;
    font-style: italic;
    line-height: .9;
    margin-bottom: .8rem;
}


.newsletter-form_sumit{
    font-size: 1.0rem;
    font-weight: 60;
    text-transform: uppercase;
    background-color: var(--clr-medium-green);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 50px;
    letter-spacing: .1rem;
    padding: 1.0rem;
    transition: var(--transition);


}

.newsletter-form_sumit:hover{
    letter-spacing: .3rem;
}

@media screen and (max-width: 575.98px) {
    .newsletter-c{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    .newsletter-info, .newsletter-form{
        flex: 1 1 26rem;
    }

}



/**********************************/
/* 8. Galeria
/**********************************/

.galeria{
    padding: 0;
    margin-left: 15px;
}

.galeria-item{
    position: relative;
    min-width: 15rem;
    cursor: pointer;
    overflow: hidden;
}

.galeria-item_thumb{
    transition: --var(--transition);
}

.galeria-item::before{
    content: "";
    position: absolute;
    background: black;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: var(--transition);
}

.galeria-item_local{
    position: absolute;
    font-size: 2.4rem;
    font-weight: 600;
    left: 6.4rem;
    bottom: 3.2rem;
    color: var(--clr-white);
    opacity: 0;
    z-index: 1;
    transition: var(--transition);
}

.galeria-item:hover  .galeria-item_thumb{
    transform: scale(1.3);
}


.galeria-item:hover  .galeria-item_local{
    left: 3.2rem;
    opacity: 1;
}

.galeria-item:hover.galeria-item::before{
    opacity: .7;
}

@media screen and (min-width: 768px){
    .galeria{
        display: flex;
        flex-wrap: wrap;
    }

    .galeria-item{
        flex: 0 0 50%;
    }
}

@media screen and (min-width: 1024px){
    .galeria-item{
        flex: 0 0 25%;
    }
}


/**********************************/
/* 9. Footer
/**********************************/

footer{
    background: darkblue;
    font-size: .9rem;
    font-weight: 900;
    text-align: center;
    text-transform: capitalize;
    padding-top: 1.0rem;
}

.footer-list{
    display: flex;
    flex-direction: row;
}

.footer-list_link{
    color: white;
    padding: .4rem;
    transition: var(--transition);
}

.footer-list_link:hover{
    color: yellowgreen;
}

.footer-icons{
    justify-content: center;
    
}

.footer-icons_icon {
    color: rgb(0, 0, 0);
    font-size: 2.8rem;
    transition: var(--transition);
    margin-right: -16.6rem;

}

.footer-icons_icon:hover{
    color: yellowgreen;
}


.date::after{
    content: "\a";
    white-space: pre;
}

.copyright{
    color: white;
}
/**********************************/
/* 10. Modal
/**********************************/
